.page-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
}

.page-nav a {
  color: #0072b2;
  font-weight: 600;
  text-decoration: none;
}

.page-nav a:hover {
  text-decoration: underline;
}